
{% extends 'base.html' %}
{% load static %}
{% block content %}
{% for cart in carts %}
    <br>
    Product Name :{{cart.product.name}}
    <br>
    Description :{{ cart.product.description}}
    <br>
    
    Price per Piece :{{ cart.product.price}}
    <br>
    {% if cart.product.image %}
        Product image : {{ cart.product.image.url}}
    {% endif %}
    <br>
     Category :{{ cart.product.category }}
    <br>

    Your Address To Ship In :{{ cart.address}}
    
    <br>
    Available Pieces {{ cart.product.available}}
    <br>
    <form action="{% url 'product:buy_product' cart.id %}" method="POST">
    {% csrf_token %}
    <label for="fname">Quantity </label>
    <input type="number" id="quantity"  value="{{ cart.quantity }}" name="quantity"><br><br>
    <input type="submit" value="Ship In" class="btn btn-primary" />
    </form>
    <br>
    <br>
    **********************************************************
    
{% endfor %}

{% endblock content %}

{% block script %}
    <script src="{% static 'js/jquery.min.js' %}" type="text/javascript"></script>
    <script src="{% static 'js/bs.min.js' %}" type="text/javascript"></script>
    <script>

    </script>
    
{% endblock script %}
