
{% extends 'base.html' %}
{% load static %}
{% block content %}
{% for cart in carts %}
    Product Name :{{cart.product.name}}
    <br>
    Description :{{ cart.product.description}}
    <br>
    Price per Piece :{{ cart.product.price}}
    <br>
    {% if cart.product.image %}
        Product image : {{ cart.product.image.url}}
    {% endif %}
    <br>
     Category :{{ cart.product.category }}
    <br>
     Total Quantity <div id="val">{{ cart.quantity}} </div>
    <button id="inc" onclick="clicked()"> Increase </button>
    <button id="dec" > Decrease </button>
    <br>
     Total price : {{ cart.total_price }}
    <br>
    Your Address To Ship In :{{ cart.address}}
    <br>
    <a href="#"> Cheak Out </a>
    <br>
    **********************************************************
    <br>
    
{% endfor %}
{% endblock content %}

{% block script %}
    <script src="{% static 'js/jquery.min.js' %}" type="text/javascript"></script>
    <script src="{% static 'js/bs.min.js' %}" type="text/javascript"></script>
    <script>

        function clicked(){
            document.getElementById("val")[0].innerHTML = document.getElementById("val")[0].innerHTML+1
           console.log(x)
           console.log("hello")
        }
    </script>
    
{% endblock script %}
